{% extends "bootstrap/base.html" %}

{# head section.
{% block head %}
  {{ super() }}
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/network-scale-blue.svg')}}" type="image/x-icon">
{% endblock %}
#}

{% block scripts%}
{{ super() }}
{{ moment.include_moment(local_js=url_for('static', filename=app.config.get("local_moment"), _external=True)) }}
{{ moment.locale() }}
{% endblock %}

{% block content %}
  <div class="container">
    {% if message %}
      {{message}}
    {% endif %}
  </div>
  <div class="container">
    {% if current_time %}
      <p> The local date and time is

        {{ moment(current_time).format('LLL') }}
      </p>
      <p>
        That was {{ moment(current_time).fromNow(refresh=True) }}
      </p>
    {% endif %}
  </div>
  <div class="container">
    {% if agent %}
      User Agent: {{agent}}
    {% endif %}
  </div>
  <div class="container">
    {% if product %}
      {{product | safe}}
    {% endif %}
  </div>

{% endblock %}

