 <footer class="page-footer font-small cyan darken-3">
     <div class="container">
        <div class="row">
        <p class="text-muted">  </p>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="https://github.com/dhirajforyou/python_flask"> dhirajforyou </a>
        </div>
        <!-- Copyright -->
            </div>
     </div>
     <div class="container">
        {% if g and g.request_start_time %}
          <p> The local date and time is
            {{ moment(g.request_start_time).format('LLL') }}
          </p>
          <p> That was {{ moment(g.request_start_time).fromNow(refresh=True) }} </p>
        {% endif %}
        {% if request and request.headers.get("User-Agent") %}
          User Agent: {{ request.headers.get("User-Agent") }}
        {% endif %}
      </div>

 </footer>